html{
    background-color: rgb(46, 47, 71);
    font-family: al-kanz;
}



.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(46, 47, 71);
    padding-left: 40px;
    padding-right: 40px;
   box-sizing: border-box;
   text-align: right;
   font-size: large;
}

header h1{
    color: rgb(2, 121, 2);
    text-align: center;
    padding-top: 0%;
    padding-bottom: 0%;
}
h2{
    color: rgb(2, 121, 2);
}

h3{
    color: rgb(2, 121, 2);
}
ol{
    color: rgb(18, 124, 18);
}

.content{
    color: rgb(0, 128, 111);
}

/*site-nav*/
.site-nav a{
    text-decoration: none;
    color: rgb(8, 8, 8);
    padding: 5px 10px;
    border: 3px solid rgb(18, 124, 18);
    font-size: small;
    
}

.site-nav a:hover{
    background-color:rgb(102, 219, 102);
}
/*end site-nav*/
